telegram-agi-bot.json
{
  "name": "Telegram AGI Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "telegram-agi-webhook",
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/scrape"
            }
          ]
        }
      },
      "id": "check-scrape",
      "name": "Is Scrape Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/query"
            }
          ]
        }
      },
      "id": "check-query",
      "name": "Is Query Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "url": "http://192.168.1.53:8081/mcp",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params",
              "value": "={\"name\": \"scrape_url\", \"arguments\": {\"url\": \"{{$json.message.text.split(' ')[1]}}\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-scrape-tool",
      "name": "Call Scrape Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "url": "http://192.168.1.53:8081/mcp",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "jsonrpc",
              "value": "2.0"
            },
            {
              "name": "id",
              "value": "1"
            },
            {
              "name": "method",
              "value": "tools/call"
            },
            {
              "name": "params",
              "value": "={\"name\": \"query_neo4j\", \"arguments\": {\"query\": \"{{$json.message.text.substring(7)}}\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "call-query-tool",
      "name": "Call Query Tool",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "={{$json.result.content[0].text}}",
        "additionalFields": {}
      },
      "id": "send-response",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.message.chat.id}}",
        "text": "Welcome to your AGI Assistant!\n\nCommands:\n/scrape <url> - Scrape a website\n/query <question> - Query knowledge graph\n/search <topic> - Search memory\n/help - Show this message",
        "additionalFields": {}
      },
      "id": "send-help",
      "name": "Send Help",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [650, 500],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Is Scrape Command?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Query Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Scrape Command?": {
      "main": [
        [
          {
            "node": "Call Scrape Tool",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Is Query Command?": {
      "main": [
        [
          {
            "node": "Call Query Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Scrape Tool": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Query Tool": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
