n8n/Telegram Inbound Gateway.json
{
  "name": "Telegram Inbound Gateway",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a76df558-b755-4302-a274-92310d03ba7d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "24e73c74-b2e8-45cc-8f0a-5e1e6ca586a6",
      "name": "Webhook",
      "webhookId": "a76df558-b755-4302-a274-92310d03ba7d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        0
      ],
      "id": "e957f9d3-1d7c-47e9-b2e2-60fa5b861345",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hdn-server.agi.svc.cluster.local:8080/api/v1/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=message {{ $json.message?.text \n\n $json.body?.message \n\n $json.body?.prompt }}"
            },
            {
              "name": "chat_id",
              "value": "YOUR_CHAT_ID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "4c38239c-4c2a-4c98-bab1-48d65fb3d514",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "=YOUR_CHAT_ID",
        "text": "={{ $json.response }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        592,
        0
      ],
      "id": "a3bcfa72-f5b0-4da2-b663-9694f2d7c970",
      "name": "Send a text message",
      "webhookId": "35baef65-7db1-4574-bfa9-3132b914abbe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8447f75-bc01-43bc-8b39-6d5b6bd513ba",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6ef9c0ae-482c-49d7-81f1-79ac8e09f31f",
              "leftValue": "={{ $json.body.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        160,
        -16
      ],
      "id": "e2a90d28-ea1d-4d9a-9829-c4e417ee284a",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=YOUR_CHAT_ID",
        "text": "=@nemoclaw_alps2_bot {{ $json.body?.prompt || $json.message?.text }} ",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        496,
        -176
      ],
      "id": "a3c146fd-5bd8-4b5f-80f7-bf216e6d8fe7",
      "name": "Send a text message1",
      "webhookId": "35baef65-7db1-4574-bfa9-3132b914abbe"
    },
    {
      "parameters": {
        "updates": [
          "channel_post",
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        -240
      ],
      "id": "96f031eb-2ab0-4ebe-a178-3f1453084d34",
      "name": "Telegram Trigger",
      "webhookId": "8f80fe37-60b1-4ebe-86b6-15d1f7d4113f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d8447f75-bc01-43bc-8b39-6d5b6bd513ba",
              "leftValue": "={{ $json.prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6ef9c0ae-482c-49d7-81f1-79ac8e09f31f",
              "leftValue": "={{ $json.prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        -176
      ],
      "id": "a16fe832-2bdf-4b9e-928d-06b5e67eac90",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "558685d8-e8c4-44f1-bb12-d7a3c0fb88c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9be2b924607c6f8a618f5ff6a9d6870856c7e57c3c08d3e81bbf70906a76a754"
  },
  "id": "niLO3aAu1rKHAsGm",
  "tags": []
}